<h1>Top restaurants</h1>

<div class="d-flex justify-content-start align-content-between flex-wrap">
  <% @restaurants.each do |restaurant| %>
      <div class="card m-2" style="width: 12rem;">
        <img class="card-img-top" src="https://picsum.photos/300/100" alt="">
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title"><%= restaurant.name %></h5>
            <div class="my-1"><span class="alert alert-secondary p-1"><%= restaurant.category %></span></div>
          </div>
          <p class="card-text"><%= restaurant.address %></p>
          <div>
            <div class="my-1"><a href="<%= restaurant_path(restaurant) %>" class="btn btn-primary">Show</a></div>
            <div class="my-1"><a href="<%= new_restaurant_review_path(restaurant) %>" class="btn btn-link p-1">Add a review</a></div>
          </div>
        </div>
      </div>
  <% end %>
</div>
